[submodule "ChatCommand"]
	path = src/ReplicatedStorage/Module/Submodule/ChatCommand
	url = https://github.com/Lunderry/ChatCommand
[submodule "LerpSystem"]
	path = src/ReplicatedStorage/Module/Submodule/LerpSystem
	url = https://github.com/Lunderry/LerpSystem
[submodule "ConnectionMeta"]
	path = src/ReplicatedStorage/Module/Submodule/ConnectionMeta
	url = https://github.com/Lunderry/ConnectionMeta
[submodule "TweenMaster2"]
	path = src/ReplicatedStorage/Module/Submodule/TweenMaster2
	url = https://github.com/Lunderry/TweenMaster2
[submodule "Vizcast"]
	path = src/ReplicatedStorage/Module/Submodule/Vizcast
	url = https://github.com/Lunderry/Vizcast
[submodule "Anti-Hacks"]
	path = src/ServerStorage/Module/Submodule/Anti-Hacks
	url = https://github.com/Lunderry/Anti-Hacks
